.jb-wrap {
    width: 47%;
    margin: 10px auto;
}
.jb-wrap img {
    width: 100%;
    vertical-align: middle;
}
.jb-text {
    padding: 5px 10px;
    background-color: white;
    text-align: center;
    border: solid 1px;
}
