body{
    margin:0px;
    font-size: 14px;
}
section{
    display: flex; /*옆으로 됨. */
}
header,footer{
    background-color: greenyellow;
    height: 100px;
    text-align: center;
    font-size:1.4em;
}
article,aside,nav{
    /*height:300px;*/
    height: calc(100vh - 200px);/*header,footer가 100px씩이니까 200px빼고 나머지 부분이 article,aside,nav => 높이가 반응형(화면에 꽉차게 나옴)*/
    border: 1px solid gray;
}
article{
    flex: 3;
}
aside{
    flex: 1;
}
nav{
    flex:1;
}
/*article,aside,nav 비율 3:1:1*/
/*부모자식 관계일때 display:flex 속성을 줘서 flex레이아웃으로 만듦*/