body {margin: 0}
    
        figure {transition: opacity 0.2s; position: relative; margin: 0;}
    
        figure img {width: 100%}
    
        figure figcaption {color: #fff;bottom: 70px; opacity: 0;position: absolute; text-align: center; width: 100%;transition: all .3s ease;}
    
        figure .gallery-img {opacity: 1;transition: all 0.3s ease 0s;overflow: hidden}
    
        figure:hover .gallery-img {background-color: #222}
    
        figure:hover img {transform: scale(1.1, 1.1);transition: all .3s ease;opacity: 0.15;}
    
        figure:hover figcaption {opacity: 1;transition: all .3s ease; }


    
