.jb-wrap {
    width: 30%;
    margin: 10px auto;
    display: inline-block;
}
.jb-wrap img {
    width: 100%;
    vertical-align: middle;
}
.jb-text {
    padding: 5px 10px;
    text-align: left;
}
#newArrival{text-align: center;}