h1 { 
    text-align: center;
  }
  img {
    max-width: 100%;

  }

  
  .a {
    margin: 0px auto;
    overflow: hidden;
    display: inline;
    padding: 0;

  }
  .a img {
    transition: all 0.2s linear;
  }
  .a:hover img {
    transform: scale( 1.2 );
  }
 
  .newImg{text-align: center;}