ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    border: 0;
    overflow: hidden;
    background-color: #333;
    text-align: center;
}
li {
    float: center;
}
li a, .dropbtn {
    display: inline;  /*inline? inline-block??*/
    color: white;
    text-align: center;
    padding: 14px 0px; /*간격*/
    border: 0;
    width: 193px;
    
    text-decoration: none;
    letter-spacing: 1px;
    margin: 0;

}
li a:hover, .dropdown:hover .dropbtn {
    background-color: gray;
}
li.dropdown {
    display: inline-block;
}
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
.dropdown-content a {
    color: black;
    padding: 12px 0px;
    width: 193px; 
    text-decoration: none;
    display: block;
    text-align: center;
}
.dropdown-content a:hover {background-color: #f1f1f1;}
.dropdown:hover .dropdown-content {
    display: block;
}
